* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2A2367;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.button {
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  background-color: #6B5AF9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;
}

.button:hover {
  background-color: #7A6AFF;
}

.form__btn.button:hover {
  background-color: #fff;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.title span {
  color: #6B5AF9;
}

.header {
  padding-bottom: 76px;
}

.header-top {
  padding: 32px 0 23px;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
  background-color: #fff;
}

.menu__list {
  display: flex;
  margin-right: 67px;
  padding-left: 34px;
}

.menu__item+.menu__item {
  margin-left: 27px;
}

.menu__link {
  color: #2A2367;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
}

.burger__menu {
  display: none;
}

.header__social {
  margin-right: 15px;
}

.header__telegram {
  margin-right: 9px;
}

.header__contacts {
  margin-right: 20px;
}

.header__phone {
  color: #2A2367;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.header__time {
  color: #2A2367;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding-left: 53px;
}

.header-top__btn {
  padding: 22px 23px;
}

.header-top__btn--media {
  display: none;
}

.header-wrapper {
  padding: 67px 0 79px;
  position: relative;
  z-index: 10;
}

.header__title {
  max-width: 653px;
  width: 100%;
  color: #2A2367;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 33px;
}

.header__title span {
  color: #6B5AF9;
}

.header__subtitle {
  width: 619px;
  color: #2A2367;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 116px;
}

.header__subtitle span {
  color: #6B5AF9;
}

.price__btn {
  padding: 23px 78px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  border-radius: 5px;
}

.header__text {
  width: 472px;
  margin-top: 34px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.4%;
}

.header__text span {
  color: #6B5AF9;
}

.arrow-btn {
  position: relative;
  display: block;
  max-width: 24px;
  margin: 0 auto;
  z-index: 10;
}

.header-bg {
  position: absolute;
  top: 0;
  right: 255px;
  z-index: 1;
}

.advantage,
.receive,
.progress,
.study,
.stage {
  padding-bottom: 150px;
}

.advantage__title {
  margin-bottom: 54px;
}

.advantage__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 73px;
}

.advantage-item {
  width: 373px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.advantage-item__content {
  padding: 2px 38px 39px 15px;
}

.advantage-item__num {
  color: #FFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantage-item__title {
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 18px;
}

.advantage-item__title::after {
  content: '';
  position: absolute;
  display: block;
  width: 175px;
  height: 2px;
  top: 27px;
  left: 0;
  background-color: #E37575;
}

.advantage-item__text {
  font-size: 12px;
  line-height: normal;
}

.price__btn--center {
  display: block;
  width: 119px;
  margin: 0 auto;
}

.receive__title {
  padding-bottom: 59px;
}

.receive__inner {
  padding-bottom: 99px;
}

.receive-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.receive-list__title {
  color: #6B5AF9;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 17px;
}

.receive-list-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding-left: 16px;
  padding-bottom: 8px;
}

.receive-list-item::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  top: 6px;
  left: 0px;
  border-radius: 50%;
  background-color: #2A2367;
}

.study__inner {
  display: flex;
  justify-content: space-between;
}

.study__title {
  padding-bottom: 66px;
}

.study__text {
  padding-bottom: 30px;
}

.stage__title {
  padding-bottom: 57px;
}

.stage__inner {
  display: flex;
}

.stage-hub {
  max-width: 394px;
  width: 100%;
  padding-right: 70px;
  position: sticky;
  top: 30px;
  margin-bottom: 100px;
}

.stage-hub::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 363px;
  background-color: #BDBDBD;
  top: 15px;
  left: 9px;
}

.stage-hub__title {
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
  position: relative;
  padding-left: 50px;
  display: block;
  color: inherit;
}

.stage-hub__title::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0px;
  background-color: #BDBDBD;
  border-radius: 50%;
  transition: all .5s;
}

.stage-hub__title--active::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0px;
  background-color: #6B5AF9;
  border-radius: 50%;
}

.stage-item {
  max-width: 668px;
  box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);
  border-radius: 10px;
  margin-bottom: 55px;
}

.stage-item__wrapper {
  padding: 34px 25px 95px 43px;
}

.stage-item__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 68px;
}

.stage-item__title span {
  margin-right: 47px;
  color: #fff;
  background-color: #43CD93;
  padding: 12px 22px;
  border-radius: 50%;
}

.stage-item__text {
  margin-bottom: 40px;
}

.stage__img {
  width: 100%;
  padding-top: 95px;
}

.contacts {
  background-image: url('../images/form-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 738px;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding-top: 140px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper {
  max-width: 448px;
  padding-left: 98px;
}

.contacts__title {
  max-width: 205px;
  margin-bottom: 20px;
}

.contacts__text {
  margin-bottom: 30px;
}

.form__inner {
  padding: 56px 0 47px 0;
  background-color: #6B5AF9;
  border-radius: 20px;
}

.form {
  width: 472px;
}

.form__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
  max-width: 345px;
  margin: 0 auto;
  padding-bottom: 28px;
}

.form__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  max-width: 359px;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 46px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__name,
.form__phone {
  width: 338px;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid;
  border-color: rgba(255, 255, 255, 0.40);
  margin-bottom: 30px;
  padding-bottom: 8px;
}

.form__name::placeholder,
.form__phone::placeholder {
  color: rgba(255, 255, 255, 0.40);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__btn {
  background-color: #fff;
  color: #6B5AF9;
  max-width: 341px;
  margin: 0 auto;
  padding: 22px 103px;
  margin-bottom: 25px;
}

.form__text-checkbox {
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 341px;
  margin: 0 auto;
  color: #fff;
}

.form__text-checkbox span {
  color: #9B8FFF;
}

.footer {
  background-color: #2A2367;
  padding-bottom: 58px;
}

.footer__top {
  padding-top: 75px;
  padding-bottom: 33px;
  border-bottom: 1px solid #6B5AF9;
}

.footer__title {
  color: #FFF;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 30px;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__email {
  color: #6B5AF9;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer__btn {
  padding: 22px 108px;
}

.footer__bottom {
  padding-top: 44px;
  color: #fff;
}

.footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__adres {
  width: 291px;
  padding-bottom: 24px;
}

.footer__telegram {
  padding-right: 15px;
}

.footer__phone {
  width: 178px;
}

.footer__logo {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.footer__copy {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__copy-text {
  padding-bottom: 16px;
}

.footer__copy-link {
  color: #fff;
  text-decoration: underline;
}

.price {
  padding-bottom: 316px;
}

.price__inner {
  background-color: #6B5AF9;
  border-radius: 20px;
}

.price__wrapper {
  padding: 50px 30px;
}

.price__text {
  background-image: url('../images/decor/price-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 222px;
}

.price__text p {
  width: 682px;
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price__items {
  display: flex;
  justify-content: space-between;
}

.price-item {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding-bottom: 50px;
}

.price-item__top {
  max-width: 334px;
  margin: 0 auto;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 34px;
  border-bottom: 1px dashed #6B5AF9;
  position: relative;
}

.price-item__top::before {
  content: '';
  position: absolute;
  background-image: url('../images/decor/decor-left.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 158px;
  left: 0;
  width: 20px;
  height: 15px;
}

.price-item__top::after {
  content: '';
  position: absolute;
  background-image: url('../images/decor/decor-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  top: 158px;
  right: -9px;
  width: 20px;
  height: 15px;
}

.price-item__subtitle {
  color: #7C7C7C;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.price-item__title,
.price-item__num {
  color: #2A2367;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 12px;
  padding-top: 12px;
}

.price-item__num {
  font-size: 24px;
  padding-bottom: 0;
}

.price-item__num span {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-item__content {
  padding: 33px 10px 90px 33px;
  max-width: 291px;
}

.price-item__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
  position: relative;
  padding-left: 14px;
}

.price-item__text::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #897BFF;
  border-radius: 50%;
}

.price-item__btn {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding: 22px 0;
  background-color: #43CD93;
  border-radius: 5px;
  display: block;
  max-width: 275px;
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.favourites {
  position: relative;
  margin-bottom: 150px;
}

.favourites__title {
  margin-bottom: 50px;
}

.swiper {
  width: 993px;
  height: 500px;
}

.slide__title span {
  color: #6B5AF9;
}

.swiper-button-prev,
.swiper-button-next {
  top: 330px;
  background-color: #6B5AF9;
  width: 50px;
  height: 51px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.50);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  left: 268px;
}

.swiper-button-next {
  right: 268px;
}

.swiper-button-prev::after {
  background-image: url('../images/slick-left.svg');
}

.swiper-button-next::after {
  background-image: url('../images/slick-right.svg');
}

.contacts-page {
  padding-bottom: 300px;
}

.contacts-page__title {
  padding-bottom: 95px;
}

.contacts-page__phone,
.contacts-page__email,
.contacts-page__adres {
  color: #727272;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 27px;
}

.contacts-page__telegram {
  margin-left: 37px;
  margin-right: 18px;
}

.contacts-page__email {
  display: block;
}

.contacts-page__inner {
  display: flex;
}


@media (max-width: 1600px) {
  .header-bg {
    right: 0;
  }
}

@media (max-width: 1150px) {

  .menu,
  .header__social,
  .header__contacts {
    display: none;
  }

  .header-top {
    justify-content: space-between;
  }

  .burger__menu {
    display: block;
    background: none;
    border: none;
  }

  .burger__menu span {
    width: 41px;
    height: 4px;
    background-color: #6B5AF9;
    display: block;
    margin-bottom: 4px;
  }

  span.line__center {
    width: 27px;
  }

  span.line__bottom {
    width: 15px;
  }
}

@media (max-width: 768px) {
  .header-top__btn {
    display: none;
  }

  .header-top__btn--media {
    display: block;
    padding: 9px 21px;
  }

  .header__title,
  .receive__title {
    font-size: 24px;
  }

  .header__subtitle {
    font-size: 12px;
    max-width: 356px;
    padding-bottom: 54px;
  }

  .header__text {
    font-size: 12px;
    line-height: 137.4%;
    max-width: 287px;
  }

  .header-bg {
    top: 120px;
    width: 569px;
  }

  .advantage,
  .receive {
    padding-bottom: 100px;
  }

  .advantage__title {
    font-size: 24px;
    margin-bottom: 33px;
  }

  .advantage__inner {
    padding-bottom: 50px;
  }

  .advantage-item {
    max-width: 360px;
  }

  .receive__title {
    padding-bottom: 37px;
  }

  .receive-item__img {
    max-width: 368px;
    height: 251px;
  }

  .receive-list-item {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .header {
    padding-bottom: 57px;
  }

  .header-bg {
    width: 447px;
  }

  .header-wrapper {
    padding: 35px 0;
  }

  .header__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 274px;
  }

  .price__btn {
    display: block;
    text-align: center;
    max-width: 119px;
    margin: 0 auto;
  }

  .header__text {
    padding-top: 9px;
    text-align: center;
    max-width: 340px;
    margin: 0 auto;
  }

  .advantage__title {
    font-size: 18px;
    margin-bottom: 30px;
  }
}